extends ../layouts/application

block content
  .card.shadow.bg-white.rounded-3
    .card-body.p-5.text-center
      .display-4= t('views.welcome.index.hello')
      p.lead= t('views.welcome.index.description')
      hr
      a.btn.btn-primary.btn-lg(href=route('newUser'))= t('views.welcome.index.more')
